.page_1{
    width: 27%;
    height: 700px;
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-color: black;
    margin-left: 38%;
    margin-top: 20px;
    background-color: rgb(183, 174, 174);
    border-radius: 10px;

  
}

.img{
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
    margin:12%;
}